@charset "utf-8";
/* 你自己的样式 */
/*嵌套tab选项卡样式,拷贝原有TAB 样式*/
.subTabBar {border-bottom: 2px solid #222}
.subTabBar span {background-color: #e8e8e8;cursor: pointer;display: inline-block;float: left;font-weight: bold;height: 30px;line-height: 30px;padding: 0 15px}
.subTabBar span.current{background-color: #222;color: #fff}
.subTabCon {display: none}

